/* Add CSS Styling */
.buttA,
.buttB {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.buttA {
    background-color: black;
    color: white;
}

.buttB {
    background-color: yellow;
}